.register-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    flex-wrap: wrap;
    align-content: center;
    box-shadow:  -0.1em 1.3em 1.5em #000000;
    background-color: #8680803c;
    border-radius: 10% 0;
}